* {
    padding: 0px;
    margin: 0px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../assert/images/donat-bg.PNG);
    background-size: cover;
}

.header-manu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.192);
    justify-items: center;
    align-items: center;
}

.donate-color {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: .9s;
}

.donate-color:hover {
    color: #ff0000;
    transition: .9s;
}

.donate-color:hover .logo-color {
    color: #ffffff;
    transition: .9s;
}

.logo-color {
    color: red;
    transition: .9s;
}

nav ul {
    display: flex;
    justify-content: center;

    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    transition: all linear .7s;
    padding: 20px 20px;
    opacity: 100%;
}

nav li a:hover {
    color: red;
    border-bottom: 1px dashed red;

    transition: all linear .7s;
}

.btn {
    cursor: pointer;
    padding: 12px 40px;
    background-color: #ff8181;
    border-radius: 20px;
    color: #ffffff;
    transition: .7s;
    border: 1px solid #ff8181;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:hover {

    background-color: rgba(0, 0, 0, 0.507);
    color: #ff8181;
    transition: .7s;
    border: 1px solid #ff8181;
    font-weight: 600;
}

/* bannar section */
.bannar {
    
    height: 100vh;
    text-align: center;
    padding: 100px 10px;
}

.title {
    color: white;
    font-size: 50px;
    padding: 20px 320px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.details{
    color: aliceblue;
    font-size: 18px;
    padding: 20px 320px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.donate-today{
    width: 100%;
    text-align: center;
    padding: 100px 0;
}
.title-donate{
    color: #000000;
}
.title-details{
    color: rgb(121, 121, 121);
}
.tk-item{
    text-align: center;
}
.tk-item ul{
    display: flex;
    justify-content: center;
}
.tk-item li{
    list-style: none;
    padding: 30px 30px;
    text-align: center;
    cursor: pointer;
    background-color: beige;
    margin: 5px;
    font-weight: 900;
    color: rgb(99, 99, 99);
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid beige;
    transition: .7s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tk-item li:hover{
    border: 1px solid red;
    border-radius: 5px;
    transition: .7s;
    box-shadow: 0px 6px 50px rgba(48, 56, 50, 0.164);
    background-color: rgb(248, 214, 214);
}

input {
    border-top-style: hidden;
    width: 50%;
    padding: 20px 0px;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
    font-size: 22px;
  }
  
  




::placeholder{
    padding: 10px 0px;
    align-items: center;
    font-size: 18px;
    margin-left: -150px;
}
.next-btn{
    margin: 20px 0;
}
.next-btn:hover{
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.397);
}

/* our donate section */
.our-donate-plan{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.donate-plan{
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0;
    color: #000000;
}
.plan-detials{
    padding: 50px 320px;
    font-size: 18px;
    color: rgb(143, 143, 143);
}
.donate-plan-items{
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}
.donate-itam{
    width: 25%;
    padding: 30px 40px;
    margin: 15px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    color: rgb(104, 104, 104);
    
}
.donate-itam:hover{
    box-shadow: 0px 6px 50px rgba(45, 58, 47, 0.473);
    border-radius: 5px;
}
.plan-img{
    padding: 30px 0;
}
.sub-details{
    color: rgb(133, 134, 134);
    font-size: 18px;
    padding: 20px 10px;
}
.details-color-1{
    background-color: #edf5f6;
}
.details-color-2{
    background-color: #ffeeee;
}
.details-color-3{ 
    background-color: #fff4d6;
}
.sub-title{
    color: #000000;
}
.their-lives{
    width: 100%;
    margin-top: 180px;
}
.live-left-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
}
.live-title{
    font-size: 55px;
    font-weight: 700;
    padding: 30px 0;
}
.live-details{
    font-size: 19px;
    color: #878888;
    padding: 30px 0;
    font-weight: 300;
    padding: 0 160px 30px 0;
}
.live-img img{
    width: 450px;
    height: 450px;
    border-radius: 40px 0;
    transition: .8s;
    box-shadow: 0px 6px 50px rgba(45, 58, 47, 0.473);
}

.need-us-left-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
}
.need-img img{
    width: 450px;
    height: 450px;
    border-radius: 40px 0;
    transition: .8s;
    box-shadow: 0px 6px 50px rgba(48, 56, 50, 0.164);
}
.need-img img:hover , .live-img img:hover{
    box-shadow: 0px 6px 50px rgba(37, 54, 40, 0.719);
    border-radius:0 40px;
    transition: .8s;
}
.need-us-right{
    padding: 0 80px;
}
.need-title{
    font-size: 55px;
    font-weight: 700;
    padding: 30px 0;
}
.need-detials{
    font-size: 19px;
    color: #878888;
    padding: 30px 0;
    font-weight: 300;
}

/* Get My Updates */
.get-my-updates{
    width: 100%;
    text-align: center;
    
}
.update{
    width: 50%;
    margin: auto;
    
}
.up-title{
    font-weight: 900;
    font-size: 34px;
    padding: 100px 0;
}
.up-details{
    color: #828282;
    font-size: 18px;
    padding: 0 0 50px 0;
}
.email-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #fff4d6;
}
.email-sub{
    width: 100%;
    
}
.email-sub input{
    background-color: #d9d9d9;
    text-align: left;
    padding: 20px 20px;
}
.email-sub ::placeholder{
    color: aqua;
    text-align: left;
    padding: 0 30px;
}
